fastapi
uvicorn
pandas
numpy
joblib
scikit-learn
shap
matplotlib
seaborn
pydantic
pydantic-settings
qdrant-client
sentence-transformers
torch
torchvision
tensorflow
librosa
groq
langgraph
typing-extensions